@import url(http://fonts.googleapis.com/css?family=Roboto:400,700|Coda);

h1, h2, h3{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 2em;
}

ul {
	list-style: none;
	float: right;
	padding-left: 2em;
	margin: 0;
}

li {
	display: inline-block;
	padding-right: 3em;
}

a {
	text-decoration: none;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-size: 2em;
	font-family: 'Roboto', 'Coda', serif;
}

form {
	width: 40%;
	padding-left: 30%;
	margin-top: 5%;
}

label {
	font-size: 1.5em;
}

.intro p{
	color: #fff;
	font-size: 1.5em;
}

#section2 h1 {
	color: black;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#slide1,
#slide2,
#slide3{
	background-size: cover;
	background-repeat: no-repeat;
}

#section0 {
	background-image: url(coney.jpg);
	opacity: .95;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#slide1 {
	background-image: url(solar.png);
	/*text-shadow: -2px 0 #D711ED, 0 2px #D711ED, 2px 0 #D711ED, 0 -2px #D711ED;*/
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#slide2 {
	background-image: url(sbft.png);
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#slide3 {
	background-image: url(cork.jpg);
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}

/* Fixed header and footer.
* --------------------------------------- */
#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	/*background: #333;*/
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}

#header{
	top:0px;
}


